/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

.title {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color:#e4f9fe;
}

body {
    margin: 0; /* Remove default space let the background color can full fill the screen*/
}

.outside {
    background-color: #eee6c6;
    height: 100vh;
    display:flex; /* Use flexbox to center the content inside container */
    justify-content: center; /* Center the content inside container horizontally */
    align-items: center; /* Center the content inside container vertically */
}

.inside {
    background: linear-gradient(#8fb6e8,#f5f7fa); /* Added a gradient background （smooth transition from one color to another color） */
    color: white;
    padding: 20px; /* Added padding for better spacing , added space between elements and borders*/
    border-radius: 20px;    /* Added border-radius for rounded corners */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Added box-shadow for depth */
}

header{
    display: flex; /* Use flexbox to arrange header content become horizontal */
    justify-content: space-between; /* Space out header content */
    align-items: center; /* Align header content vertically */
    padding: 20px; /* Add padding to header for better spacing */
}

.navigation-links {
    display: flex; /* Use flexbox to arrange navigation links horizontally */
    gap: 20px; /* Add space between navigation links */
}

button {
    background-color:#2f5d9f;
    color:  white;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #e07a2f; /* Change background color on hover for better interactivity */
    cursor: pointer; /* Change cursor to pointer on hover when the pointer is over the button the button will change into orange color */
}

.content {
    flex: 1; /* make the content to take up remaining space in the container */
    display: flex; /* Use flexbox to arrange content horizontally */
    justify-content: space-between; /* Space out content */
    padding: 40px; /* Add padding to content for better spacing */
}

.leftside, .rightside {
    flex: 1; /* Allow left and right side to take equal space */
}

.leftside {/* Style for left side content */
    display:flex; /* Use flexbox to arrange left side content vertically */
    justify-content: center; /* Center left side content vertically */
}

.leftside img { /* Style for image on the left side image itselft*/
    width: 100%;/* Set image to take full width of left side */
    max-width: 500px; /* Set a maximum width for the image */
}

.rightside {
    text-align: right; /* Align text to the right */
    align-items: flex-end; /* Align right side content to the bottom */ 
}

.right-h1 {
    text-align: right; /* Align text to the right */
    font-family: "Satisfy", cursive;
    font-size: 48px; /* Set font size for right side heading */
    font-style: normal;
    letter-spacing: 2px;
    color:#2f5d9f;
}

.highlight {
    color: #ffcc70
}

.right-h2 {
    text-align: right; /* Align text to the right */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e07a2f;

}

.right-p {
    text-align: right; /* Align text to the right */
    color: #e07a2f;

}

.right-h1 , .right-h2, .right-p {
    line-height:1.0; /* Set line height for better spacing between lines */
}

.right-button {
    text-align: right; /* Align button to the right */
    background-color:#2f5d9f;
    color:  white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; /* Add padding to button for better spacing */  
}

.right-button:hover {
    background-color: #e07a2f; /* Change background color on hover for better interactivity */
    cursor: pointer; /* Change cursor to pointer on hover when the pointer is over the button the button will change into orange color */
}