/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DM+Serif+Text:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DM+Serif+Text:ital@0;1&family=Fredoka:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

/* https://www.youtube.com/watch?v=HmaQwuKUYTc&t=11s */
/* https://www.youtube.com/watch?v=JYfiaSKeYhE&t=6s */
/* https://www.youtube.com/watch?v=wsTv9y931o8&t=265s */
/* https://www.youtube.com/watch?v=-itttmX6HX0 */
/* https://www.youtube.com/watch?v=rBWA_t-KnKk */
/* https://www.youtube.com/watch?v=cWgb42tUYPA */
/* https://youtube.com/shorts/QTYwZUlSXt8?si=fnKuS192x5TTHSSV */
/* https://www.youtube.com/watch?v=iIqgW-stZmE */

.title {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color:#e4f9fe;
}

body {
    margin: 0; /* Remove default space let the background color can full fill the screen*/
}

.outside {
    display: block; /* Set display to block to make the container take up the full width of the page */
    background-color: #eee6c6;
    height: 100vh;
    justify-content: center; /* Center the content inside container horizontally */
    align-items: center; /* Center the content inside container vertically */
}

.insidepart1 {
    background: linear-gradient(#8fb6e8,#f5f7fa); /* Added a gradient background （smooth transition from one color to another color） */
    color: white;
    padding: 20px; /* Added padding for better spacing , added space between elements and borders*/
    border-radius: 20px;    /* Added border-radius for rounded corners */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Added box-shadow for depth */
    display: flex; /* Use flexbox to arrange content horizontally */
    flex-direction: column; /* Arrange content in a column */
    width: 80%;
    margin: 40px auto;
}

header{
    display: flex; /* Use flexbox to arrange header content become horizontal */
    justify-content: space-between; /* Space out header content */
    align-items: center; /* Align header content vertically */
    padding: 20px; /* Add padding to header for better spacing */
}

.navigation-links {
    display: flex; /* Use flexbox to arrange navigation links horizontally */
    gap: 20px; /* Add space between navigation links */
}

button {
    background-color:#2f5d9f;
    color:  white;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #e07a2f; /* Change background color on hover for better interactivity */
    cursor: pointer; /* Change cursor to pointer on hover when the pointer is over the button the button will change into orange color */
}

.content {
    flex: 1; /* make the content to take up remaining space in the container */
    display: flex; /* Use flexbox to arrange content horizontally */
    justify-content: space-between; /* Space out content */
    padding: 40px; /* Add padding to content for better spacing */
}

.leftside, .rightside {
    flex: 1; /* Allow left and right side to take equal space */
}

.leftside {/* Style for left side content */
    display:flex; /* Use flexbox to arrange left side content vertically */
    justify-content: center; /* Center left side content vertically */
}

.leftside img { /* Style for image on the left side image itselft*/
    width: 100%;/* Set image to take full width of left side */
    max-width: 500px; /* Set a maximum width for the image */
}

.rightside {
    text-align: right; /* Align text to the right */
    align-items: flex-end; /* Align right side content to the bottom */ 
}

.right-h1 {
    text-align: right; /* Align text to the right */
    font-family: "Satisfy", cursive;
    font-size: 48px; /* Set font size for right side heading */
    font-style: normal;
    letter-spacing: 2px;
    color:#2f5d9f;
}

.highlight {
    color: #ffcc70
}

.right-h2 {
    text-align: right; /* Align text to the right */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e07a2f;

}

.right-p {
    text-align: right; /* Align text to the right */
    color: #e07a2f;

}

.right-h1 , .right-h2, .right-p {
    line-height:1.0; /* Set line height for better spacing between lines */
}

.right-button {
    text-align: right; /* Align button to the right */
    background-color:#2f5d9f;
    color:  white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; /* Add padding to button for better spacing */  
}

.right-button:hover {
    background-color: #e07a2f; /* Change background color on hover for better interactivity */
    cursor: pointer; /* Change cursor to pointer on hover when the pointer is over the button the button will change into orange color */
}

.insidepart2 {
    background: linear-gradient(#98cbea,#fffaee); /* Added a gradient background （smooth transition from one color to another color） */
    padding: 20px; /* Added padding for better spacing , added space between elements and borders*/
    border-radius: 20px;    /* Added border-radius for rounded corners */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Added box-shadow for depth */
    width: 100%;
    margin-top: 40px;
    display: flex;
    width:80%;
    margin: 40px auto;
    justify-content: flex-start; /* let the content start from top */
    flex-direction: column; /* Arrange content in a column */
    height: 85vh;
    align-items: center; /* Center the content inside container vertically */
}

.headerpart2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; /* Center the text */
    color:#2f5d9f;
    font-size : 48px; /* Set font size for right side heading */

}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling when the user click on navigation buttons */
}

.ppart2 {
    margin-top: 0px;
    padding: 40px;
    text-align: center; /* Center the text */
    font-style: normal;
    color: black;
    line-height: 1.4;
    font-size: 25px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.insidepart3 {
    background: linear-gradient(#8fb6e8, #f5f7fa); /* Added a gradient background （smooth transition from one color to another color） */
    padding: 20px; /* Added padding for better spacing , added space between elements and borders*/
    border-radius: 20px;    /* Added border-radius for rounded corners */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Added box-shadow for depth */
    width: 100%;
    margin-top: 20px;
    display: flex; 
    width:80%;
    margin: 40px auto;
    justify-content: flex-start; /* let the content start from top */
    flex-direction: column; /* Arrange content in a column */
    height: auto;
    align-items: center; /* Center the content inside container vertically */
    padding-top: 0px;
    padding-bottom: 0px;
}

.contentpart3 {
    display: flex; 
    gap: 60px; /* Add space between left and right side */
    padding: 40px; /* Add padding to content for better spacing */
    width: 100%;
    padding: 20px;
    justify-content: center;

}

.headerpart3 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; /* Center the text */
    color:#2f5d9f;
    font-size : 48px; 
    margin-bottom: 0px;
    margin-top: 0px;
}


.part3left, .part3right {
    flex: 1; /* Allow left and right side to take equal space */
}

.part3left {
    display:flex; /* Use flexbox to arrange left side content vertically */
    flex-direction: column;
    gap: 30px; /*gap between each other*/
}

.part3left1, .part3left2{
    display :flex; /* Use flexbox to arrange left side content vertically */
    align-items: flex-start; /* Align left side content to the top */
    gap: 15px;
    margin: 5px auto;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    padding:20px;
    margin-top: 0px;
}

.part3left1, .part3left2, .cardbig {
    width:350px; /* Set a fixed width for all cards to be consistent */
    background-color: #ffffff;
    border: 2px; /* Add a border to the cards */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.text {
    display: flex; /* Use flexbox to arrange text content vertically */
    flex-direction: column;
    max-width: 300px; /* Set a maximum width for the text content */
}

.text h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #1e3a8a;
}
.text p {
    color: #4b5563;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.icons {
    width:70px;
    height:70px;
    border:2px solid #eff6ff;
    background-color: #eff6ff;
    color: #3b82f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 10px; /* Add space between icon and text */
}

.part3right {
    margin-top: 15%;
}

.cardbig {
    width:80%;
    height:200px;
    margin: auto;
    align-items: right;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    gap: 15px;
}

