<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check OTP</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body class="check-otp-page">
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            <div class="flash">
                {%for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            </div>
        {%endif%}
    {%endwith%}

    <div class="background-color"></div>
    <div class="background-img"></div>
    
    <header>
        <h1 class="title">MMU <span class="highlight">Marketplace 🧺</span></h1>
        <div class="navigation">
            <a href="{{url_for('home')}}">
                <button>Back</button>
            </a>
        </div>
    </header>

    <div class="check-otp-container">
        <div class="check-otp">
            <h2>MMU Marketplace</h2>
            <h3>Check OTP</h3>
            <form method="POST" action="{{url_for('check_otp',email=email)}}"> <!--action tells the form where to submit the data, send email to check_otp route so it know which acc need to check-->
                <div class="input-column">
                    <div class="input-grp">
                        <label>OTP</label>
                        <input type="text" name="otp" placeholder="Please Enter Your OTP." minlength="6" maxlength="6" required>
                    </div>

                    <button type="submit" class="check-otp-button">Verify OTP</button>

                    <div class="login-link">
                        <p>Remember your password? <a href="{{url_for('login')}}"> Login</a></p>
                    </div>
                </div>
            </form>
        </div>


