<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body class="forgot-password">
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            <div class="flash" id="flash-message">
                {%for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            </div>
        {%endif%}
    {%endwith%}

    <div class="background-color"></div>
    <div class="background-img"></div>
    <header>
        <h1 class="title">MMU <span class="highlight">Marketplace 🧺</span></h1>
        <div class="navigation">
            <a href="{{url_for('home')}}">
                <button>Back</button>
            </a>
        </div>
    </header>

    <div class="forgot-form-container">
        <div class="forgot-form">
            <h2>MMU Marketplace</h2>
            <h3>Forgot Password</h3>
            <form method="post" action="{{url_for('forgot_password')}}">
                <div class="input-column">
                    
                    <div class="input-grp">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Please Enter Your Registered Email." required>
                    </div>

                    <button type="submit" class="forgot-button">Request OTP</button>

                    <div class="login-link">
                        <p>Remember your password? <a href="{{url_for('login')}}"> Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
    //setTimeout()waits for 3000milliseconds(3s) then hide the flash message
setTimeout(() => document.getElementById('flash-message').style.display = 'none',3000);
</script>
</body>
</html>