<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body class="outside">
    <div class="insidepart1">
        <div>
            <header>
                <h1 class="title">MMU <span class="highlight">Marketplace 🧺</span></h1>

                <div class="navigation-links">
                    <a href="#aboutus">
                        <button>About Us</button>
                    </a>
                    <a href="#features">
                        <button>Features</button>
                    </a>
                </div>

            </header>
        </div>

        <div class="content">
            <div class="leftside">
                <img src="/image/BASKET.png" alt="MMU Marketplace">
            </div>
            <div class="rightside">
                <h1 class="right-h1">MMU</h1>
                <h1 class="right-h1">Marketplace</h1>
                <h2 class="right-h2">Find out what's new on MMU Marketplace! </h2>
                <p class="right-p">Welcome to the MMU Marketplace website!</p>
                <p class="right-p">Here you can find all the latest products and deals available.</p>
                <div class="nav">
                    <a href="{{url_for('register')}}"><button class="right-button">Register</button></a><a
                        href="{{url_for('login')}}"><button class="right-button">Login</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="insidepart2" id="aboutus">
        <header>
            <h1 class="headerpart2">About Us</h1>
        </header>
        <br>
        <p class="ppart2"><b>MMU Marketplace</b> is an online platform designed to make it convenient for MMU students
            to buy and sell products within the MMU campus community. Our mission is to create a <b>safe</b>,
            <b>convenient</b>, and <b>student-friendly marketplace</b> where students can connect, trade, and support
            each other. Our website also provides a user-friendly interface, a secure login system, a campus-focused
            community, and affordable deals for students.
        </p>
    </div>

    <div class="insidepart3" id="features">
        <header>
            <h1 class="headerpart3">Features</h1>
        </header>

        <div class="contentpart3">
            <div class="part3left">
                <div class="part3left1">
                    <div class="icons">💬</div>
                    <div class="text">
                        <h3>Direct chat</h3>
                        <p>‣ Connect with buyers and sellers directly</p>
                        <p>‣ No middlemen involved</p>
                    </div>
                </div>
                <div class="part3left2">
                    <div class="icons">📊</div>
                    <div class="text">
                        <h3>Product listings</h3>
                        <p>‣ Upload and manage your product listings easily</p>
                        <p>‣ Add detailed descriptions and prices</p>
                    </div>
                </div>
            </div>

            <div class="part3right">
                <div class="cardbig">
                    <div class="icons">🧺</div>
                    <div class="text">
                        <h3>Easy buying & selling</h3>
                        <p>‣ Post item in seconds</p>
                        <p>‣ Clean and simple interface</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<footer>
    <p>© 2026 MMU Marketplace.</p>
    <p>Developed by:</p>
    <p class="footer-name">Joshua Wong Hock Sing</p>
    <p class="footer-name">Cheng Chin Kiet</p>
    <p class="footer-name">Kwong Jia Qi</p>
</footer>


</html>