<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body class="reset-password">
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            <div class="flash">
                {%for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            </div>
        {%endif%}
    {%endwith%}

    <div class="background-color"></div>
    <div class="background-img"></div>
    
    <header>
        <h1 class="title">MMU <span class="highlight">Marketplace 🧺</span></h1>
        <div class="navigation">
            <a href="{{url_for('home')}}">
                <button>Back</button>
            </a>
        </div>
    </header>

    <div class="reset-form-container">
        <div class="reset-form">
            <h2>MMU Marketplace</h2>
            <h3>Reset Password</h3>
            <form method="POST" action="{{url_for('reset_password',email=email)}}"> <!--action tells the form where to submit the data, send email to resetpassword route so it know which acc need to reset-->
                <div class="input-column">
                    <div class="input-grp">
                        <label>New Password</label>
                        <input type="password" name="new_password" placeholder="Please Enter Your New Password." minlength="8" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,20}$" title="Password must include uppercase, lowercase and number (8-20 characters)" required>
                    </div>

                    <div class="input-grp">
                        <label>Confirm New Password</label>
                        <input type="password" name="confirm_new_password" placeholder="Please Confirm Your New Password." required>
                    </div>

                    <button type="submit" class="reset-button">Reset Password</button>

                    <div class="login-link">
                        <p>Remember your password? <a href="{{url_for('login')}}"> Login</a></p>
                    </div>
                </div>
            </form>
        </div>


