<!DOCTYPE html>
<html lang="en"">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>User Profile</title>
</head>

<body class="userprofile-body">
    <div class="sidebar">
        <div class="logo"></div>
        <ul>
            <li>
                <a href="{{url_for('profile')}}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('home_page') }}">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('setting')}}">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="maincontent">
        <div class="headeroutside">
            <div class="aboutuser">
                <form action="/upload_profile" method="post" enctype="multipart/form-data">
                    <label for="profile_image" class="profile-picture"> <!--click icons open file picker-->
                        <img id="preview-image" src="{% if profile_image %}{{ url_for('static', filename='uploads/' + profile_image) }}{% endif %}" alt="Profile Picture" {% if not profile_image %}style="display:none;"{% endif %}>
                        <i class="fa-solid fa-user" id="default-icon"{% if profile_image %}style="display:none;"{% endif %}></i>
                    </label>
                    <input type="file" id="profile_image" name="profile_image" accept="image/*" hidden>
                    <button class="upload-button" type="submit">Upload</button>
                </form>

                <ul class="user-info">
                    <h3>{{ username }}</h3>
                    <li>{{ email }}</li>
                    <li>{{ gender }}</li>
                    <li>{{ role }}</li>
                </ul>
            </div>
            <div class="header-dashboard">
                <span>{{ username }} 's</span>
                <h2>Dashboard</h2>
            </div>
        </div>
        <div class="statistic"> 
            <h2>{{ username}}'s Personal Statistic</h2> 
            <div class="statisticcontainer">
                <div class="statisticcard">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <h2>{{ login_count }}</h2>
                    <span>Total Logins</span>
                </div>
                <div class="statisticcard">
                    <i class="fa-solid fa-calendar-days"></i>
                    <h2>{{register_time}}</h2>
                    <span>Member Since</span>
                </div>
                <div class="statisticcard">
                    <i class="fa-solid fa-chart-pie"></i>
                    <h2>{{ percentage }}%</h2>
                    <span>Profile Completion</span> 
                </div> 
            </div> 
        </div>

        <div class="recentactivity">
            <h2>Recent Activity</h2>
            <div class="activity">
                {%for activity in recent_activity%}
                    <div class="activitycontent">
                        <p><strong>✔ {{ activity[2]}}</strong></p>
                        <p>{{ activity[3] }}</p>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>

<script>
document.getElementById('profile_image').addEventListener('change',function(event){
    const file = event.target.files[0];//get the selected file from inpt
    if (file) {//check if user actually selected a file
        const preview = document.getElementById('preview-image');//get image preview element
        const icon = document.getElementById('default-icon');//get default icon
        //create a temporary url for the selected image and preview it
        preview.src = URL.createObjectURL(file);
        preview.style.display = 'block';
    

    if (icon) {//hide default icon if image uploaded 
            icon.style.display = 'none';
        }
    }
});
</script>
</body>
</html>
